@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

@media (min-width: 640px) {
  #app {
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  #app {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  #app {
    max-width: 1024px;
  }
}
